* {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 50%;
    min-width: 375px;
    max-width: 450px;
    margin: auto;
    padding: 20px;
}

.mat-grid-tile {
    background-color: cornflowerblue;
    box-shadow: -2px -2px 5px violet;
    border: 2px solid black;
}

.input-field {
    ::ng-deep .mat-figure {
        padding: 0 20px;
        display: flex;
    }

    .display {
        width: 100%;
        padding: 20px;
        text-align: right;
        border: 2px solid black;

        &:focus-visible {
            outline: 2px solid violet;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


