<div class="container glacial-font">
  <mat-grid-list [cols]='4' gutterSize='3'>
      <mat-grid-tile class="input-field" [colspan]="4" [rowspan]="1">
        <!-- UPDATE to display calculation history -->
        <!-- <label for="display">{{history}}</label>   -->
        <input 
            class="display" 
            type="number" 
            id="display" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [(ngModel)]="current">
      </mat-grid-tile>
      <mat-grid-tile 
            *ngFor="let tile of buttons" 
            [ngClass]="tile.class"  
            class="number" 
            [colspan]="tile.cols" 
            [rowspan]="tile.rows"
            [style.background]="tile.color" 
            (click)=update(tile.text)>
          {{tile.text}}
      </mat-grid-tile>
  </mat-grid-list>
</div>